/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
 * MENU
 */
.menu-background {
	-fx-background-color: #1d2b36;
}

.menu-bar {
	-fx-background-color: white;
}

/*
 * MENU - LABEL
 */
.menu-label{
    -fx-background-color: transparent;
    -fx-text-fill: #507da7;
    -fx-font-size: 13;
    -fx-padding: 5;
}

.menu-title {
    -fx-background-color: transparent;
    -fx-text-fill: #c4cedb;
    -fx-font-size: 24;
    -fx-font-weight: BOLD;
    -fx-padding: 5;
}

/*
 * MENU - BUTTON
 */
.menu-button, .menu-button-current, .menu-button-historical, .menu-button-configuration {
    -fx-background-color: #1d2b36;
    -fx-border-width: 2px;
    -fx-border-color: #1d2b36;
    -fx-font-size: 13;
    -fx-font-weight: BOLD;
    -fx-text-fill: #71a1b8;
    -fx-padding: 10;
    -fx-alignment: baseline-left;
    -fx-cursor: hand;
}

.menu-button:hover, .menu-button-current:hover, .menu-button-historical:hover, .menu-button-configuration:hover {
    -fx-text-fill: #87c2de;
}

.menu-button:pressed, .menu-button-current:pressed, .menu-button-historical:pressed, .menu-button-configuration:pressed {
	-fx-text-fill: #58859c;
}

.menu-button-current {
	-fx-graphic: url("../icons/ic_autorenew_15px.png");
}

.menu-button-current:hover {
	-fx-graphic: url("../icons/ic_autorenew_hover_15px.png");
}

.menu-button-historical {
	-fx-graphic: url("../icons/ic_history_15px.png");
}

.menu-button-historical:hover {
	-fx-graphic: url("../icons/ic_history_hover_15px.png");
}

.menu-button-configuration {
	-fx-graphic: url("../icons/ic_list_15px.png");
}

.menu-button-configuration:hover {
	-fx-graphic: url("../icons/ic_list_hover_15px.png");
}

/*
 * FORM
 */
.form-background {
	-fx-background-color: white;	
}